@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Rest of your CSS styles go here */
body,
html {
    font-family: 'Lato', sans-serif;
    background-color: #f0f4f8;
    color: #4a5568;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}




.carousel-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel {
    display: flex;
    padding: 0 5vw;
    padding-bottom: 20%;
}

.card-container {
    perspective: 1000px;
    width: 80vw;
    height: 70vh;
    margin-right: 5vw;
    scroll-snap-align: center;
    position: relative;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition:
        transform 1s ease-in-out,
        width 1s ease-in-out,
        height 1s ease-in-out,
        left 0.8s ease-in-out,
        top 0.8s ease-in-out;
    transform: rotateY(-10deg);
    /* Apply the desired rotation */
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 10;
}

.end-card {
    position: absolute;
    width: 100%;
    height: 90%;
    transition:
        transform 1s ease-in-out,
        width 1s ease-in-out,
        height 1s ease-in-out,
        left 0.8s ease-in-out,
        top 0.8s ease-in-out;
    transform: rotateY(-10deg);
    /* Apply the desired rotation */
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 10;
}


.card-front,
.card-back {
    transform: rotateY(-360deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 27px 26px 68px rgb(0 0 0 / 70%);
    transition: border-radius 0.8s;
}

.card-front {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.card-back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #3c366b;
    font-family: 'Playfair Display', serif;
}

.card.flipping {
    transform: rotateY(350deg);
    z-index: 1000;
    border-radius: 30px;
}

.card.flipping .card-front,
.card.flipping .card-back {
    border-radius: 30;

}

.card img {
    width: 100%;
    min-height: 60%;
    max-height: 60%;
    object-fit: cover;
}

.end-card img {
    width: 100%;
    min-height: 60%;
    max-height: 60%;
    object-fit: cover;
}


.card-content {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #3c366b;
    transform: rotateY(-10deg);
}

.card-description {
    font-size: 18px;
    line-height: 1.6;
    color: #718096;
    transform: rotateY(-10deg);
}

.header {
    position: absolute;
    width: 100%;
    height: 200px;
    height: 5%;
}

.header a{
    color:#f0f4f8 ;
}


.logo {
    height: 100%;
}

audio {
    min-width: 300px;
    max-width: 300px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.footer-icon {
    font-size: 24px;
    color: #3c366b;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-icon:hover {
    color: #4a5568;
}

.bird {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 80px; /* Adjusted for better proportion */
    z-index: 999;
    background-image: url(./asset/birds.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}

.speech-bubble {
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    bottom: 100%;
    left: 130px; /* Adjust based on your bird image */
    transform: translateY(-10px);
    bottom: 0px;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px; /* Position on the left side */
    transform: translateY(-50%);
    border-width: 10px 10px 10px 0; /* Adjust border to point left */
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.speech-bubble p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .bird {
        bottom: 50px;
        height: 70px;
    }
    .speech-bubble {
        max-width: 200px;
        left: 110px;
    }
}

@media (max-width: 480px) {
    .bird {
        bottom: 40px;
        height: 60px;
    }
    .speech-bubble {
        max-width: 180px;
        left: 110px;
        padding: 10px;
    }
    .speech-bubble p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .footer {
        height: 50px;
    }

    .footer-icon {
        font-size: 20px;
    }

    audio {
        min-width: 280px;
        max-width: 280px;
    }
}

@media (max-width: 480px) {
    .footer {
        height: 40px;
    }

    .footer-icon {
        font-size: 18px;
    }

    .card-description {
        display: none;
    }


    .card-content {
        padding: 10px;
    }

    audio {
        min-width: 200px;
        max-width: 200px;
    }

}

@media (min-width: 1008px) {
    .carousel-container {
        height: 90vw;
    }
}


@media (min-width: 1208px) {
    .carousel-container {
        height: 70vw;
    }
}